*.log
Database/*
**/images/*
*.pyc
unitcell.egg*
*.ipynb_checkpoints*
*.nbc
*.nbi
config.json
.venv/
.conda/
*.bak

# Ignore UnitcellApp distribution files
dist/*
build/*

# Ignore npm files
electron/node_modules/*
electron/package-lock.json
electron/out/*
node_modules/*
electron/dist/*
yarn.lock


